.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 7rem 24px 6rem;
  min-height: 100vh;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  min-width: 300px;
}

.scroll{
  height: 600vh;
  pointer-events: none;
  z-index: 9;
  width: 100%;
}
.scroll2{
  height: 100vh;
  pointer-events: none;
  z-index: 9;
  width: 100%;
}

.grid{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  pointer-events: none;
  top:0;
  left:0;
  opacity: 0.08;
  z-index: -1;
}

.cover{
  width: 100%;
  height: 100%;
  pointer-events: none;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index: 10;
  padding: 24px 24px;
  min-width: 300px;
}

.header button:hover{
filter: invert(100%);
cursor: pointer;
}

.header>div{
  display: flex;
  align-items: center;
  gap:20px
}

.header button{
  background: none;
  border: none;
}

.texts, .textsInner{
  display: flex ;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}
.texts svg{
  max-width: 100%;
}
.sloganMobile{display: none;}
.sloganDesktop{display: block;}
@media (max-width:900px) {
  .texts .lets{ max-width: 180px;}
  .texts .bitcoin{ max-width: 300px;}
  .texts .bounce{margin-top: -35px; margin-bottom: -20px;}
  .texts .sloganMobile{display: block;}
  .texts .sloganDesktop{display: none;}
}

.year, .bounce{
  margin-bottom: 20px;
}

.bitcoin, .slogan{
  margin-bottom: 30px;
  opacity: 0;
}


.lets{
   opacity: 0;
}

.ballWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

.ball{
  animation: bounce 1.5s infinite reverse;
  animation-timing-function: cubic-bezier(0.05, 1.25);
}

.ballBase{
  animation: base 1.5s infinite reverse;
  animation-timing-function: cubic-bezier(0.05, 1.25);
  transform-origin: center bottom;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(1vmin) scaleY(.90);
  }
  50% {
      transform: translateY(-30vmin) scaleY(1.08);
  }
}

@keyframes base{
  0%, 100% {
      transform:  scaleY(0.9);
  }
  70% {
      transform: scaleY(1);
  }
}
